<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Détails du Taxi</title>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Détails du Taxi</h1>
    <table border="1">
        <tr>
            <th>Immatriculation</th>
            <td th:text="${monTaxi.immatriculation}"></td>
        </tr>
        <tr>
            <th>Carburant</th>
            <td th:text="${monTaxi.carburant}"></td>
        </tr>
        <tr>
            <th>Prix au Km</th>
            <td th:text="${monTaxi.prixKm}"></td>
        </tr>
        <tr>
            <th>Kilomètres Parcourus</th>
            <td th:text="${mesKmParcourus}"></td>
        </tr>
        <tr>
            <th>Montant Total des Locations</th>
            <td th:text="${monMontantTotal}"></td>
        </tr>
    </table>
    <h2>Locations associées</h2>
    <table border="1">
        <tr>
            <th>Date</th>
            <th>Kilomètres Total</th>
            <th>Acompte</th>
        </tr>
        <tr th:each="location : ${mesLocations}">
            <td th:text="${location.dateLoc}"></td>
            <td th:text="${location.kmtotal}"></td>
            <td th:text="${location.acompte}"></td>
        </tr>
    </table>
    <h2>Clients associés</h2>
    <table border="1">
        <tr>
            <th>Nom du Client</th>
            <th>Email</th>
            <th>Téléphone</th>
        </tr>
        <tr th:each="client : ${mesClientsPourTaxi}">
            <td th:text="${client.nom}"></td>
            <td th:text="${client.mail}"></td>
            <td th:text="${client.tel}"></td>
        </tr>
    </table>
</body>
</html>
